In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import statistics
import numpy as np

In [3]:
city_data_file = 'Resources/city_data.csv'
ride_data_file = 'Resources/ride_data.csv'

city_data_df = pd.read_csv(city_data_file)
ride_data_df = pd.read_csv(ride_data_file)

In [5]:
print(city_data_df.head(10))
print(ride_data_df.head(10))

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban
                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344
5        South Latoya  2019-03-11 12:26:48   9.52  1994999424437
6       New Paulville  2019-02-27 11:17:56  43.25   793208410091
7        Simpsonburgh  2019-04-26 00:43:24  35.98   111953927754
8     South Karenland  2019-01-08 03:28:48  35.09  7995623208694
9       North Jasmine  2019-03-09 06:26:29  42.81  5327642267789

In [9]:
print(ride_data_df.dtypes)
print(city_data_df.dtypes)
print(ride_data_df.count())
print(city_data_df.count())
print(city_data_df.isnull().sum())
print(ride_data_df.isnull().sum())

city        object
date        object
fare       float64
ride_id      int64
dtype: object
city            object
driver_count     int64
type            object
dtype: object
city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64
city            120
driver_count    120
type            120
dtype: int64
city            0
driver_count    0
type            0
dtype: int64
city       0
date       0
fare       0
ride_id    0
dtype: int64

In [10]:
city_data_df['type'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [13]:
print(sum(city_data_df['type'] == 'Urban'))
print(sum(city_data_df['type'] == 'Suburban'))
print(sum(city_data_df['type'] == 'Rural'))

66
36
18

In [14]:
#merge the data frames

pyber_data_df = pd.merge(ride_data_df, city_data_df, how = 'left', on =['city', 'city'])

pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [ ]:
# create bubble chart that showcases the average fare versus 
# the total number of rides with bubble size based on the total number
# of drivers for each city type, including urban, suburban, and rural

In [ ]:
#determine the mean median and mode for

#total number of rides for each city type

#the average fares for each city type

#the total number of drivers for each city type

In [ ]:
# create box and whiskers plots that visualize each of the following
# to determine if there are any outliers

#The number of rides for each city type

#the fares for each city type

#the number of drivers for each city type

In [ ]:
# create a pie chart that visualizes each of the following data
# for each city type

# The percent of total fares


# The percent of total rides


# the percent of total drivers